@charset "UTF-8";
/* CSS Document */

/*Basic Reset*/
/*Reset some built in browser values*/

#container
{
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
}

#mainHeader
{
	clear: both;
	overflow: hidden;
	padding-bottom: 40px;
}

#mainTitle
{
  text-align: center;
}

#subTitle
{
  text-align: center;
}

#cityYas
{
	overflow: hidden;
	padding-bottom: 10px;
  padding-left: 136px;
  padding-right:136px;
}

h2
{
	color: #717576;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align: center;
}

#firstPhoto
{
	overflow: hidden;
	text-align: center;
  width: 960px;
}

#grad
{
  overflow: hidden;
  padding-top: 40px;
  padding-left: 136px;
  padding-right:136px;
}

#hocoPhoto

{
	width: 422px;
  height: 632px;
	padding-top: 40px;
  padding-left: 269px;
  padding-right:269px;
}

#photography
{
  padding-top: 40px;
  padding-left: 135px;
  padding-right: 135px;
}

#finalPhoto
{
	padding-bottom: 100px;
}

p
{
	font-size: 20px;
	color: #717576;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align: center;
}
